h3
    span Bicicletear La Habana
p.
     #[strong Bicicletear La Habana] (BLH) es el evento de #[a(href='https://es.wikipedia.org/wiki/Masa_Cr%C3%ADtica_(evento_ciclista)') masa crítica] en La Habana. Inició en el 27 de septiembre de 2015 tras una convocatoria en Facebook. Desde entonces se ha repetido cada mes.
h3
    span Masa crítica en La Habana
p.
     BLH trae la bicicleta de vuelta con un aire atractivo a los habaneros. Destipifica la bicicleta como signo de pobreza y deforma el estereotipo de #[em "individuos antisociales"] sobre los bicicleteros y bicicleteras.
     Al pedalear en un gran grupo nos imponemos en la vía alertando a los conductores que estamos de vuelta para usar la vía pública.
     Practicamos principios de #[strong sostenibilidad] como reducción del ruido y la contaminación producida por
     Seguimos siendo la minoría y nos faltan garantías de seguridad vial y espacios amigables para la bicicleta. Pero somos una alternativa objetiva para el #[strong futuro] de esta ciudad que necesita cambiar la polución por aire de calidad y calles limpias; y hacer placentero el transporte de los ciudadanos con más opciones de movilidad.
h3
    span Organización
p
    | BLH ha sido el proyecto de una persona. Sin embargo, no existe una organización, grupo político, movimiento, entidad ni otras asociaciones detrás del evento, aunque muchos de sus participantes estén involucrados en otros movimientos. Somos personas individuales que coincidimos una vez al mes para pedalear. Disponemos de un grupo en Internet la comunicación y aportar ideas.
    | Cualquiera es libre de participar en BLH y todos somos libres contribuir con energías e ideas.
h3
    span Ruta
p
    | Cada recorrido es diferente. Sin obviar el #[strong disfrute] y buenas vistas, ganando visibilidad para el evento se intenta pasar por puntos céntricos de la ciudad como Avenida Malecón, Avenida 23, El Capitolio, la esquina 23 y L, la Plaza de la Revolución y Paseo del Prado. Usualmente nos toma 1 hora y media para 15 - 20 km.
    | Cualquiera puede proponer un paseo que preferiblemente incluya algunos de los anteriores puntos de interés y no excediendo 1h y 30min de duración del recorrido.