footer(lang='en')
    p copyrights bicicletearlahabana.com all rights reserved
    p Icons made by #[a(href='https://www.flaticon.com/authors/freepik') Freepik] and #[a(href='https://www.flaticon.com/authors/bogdan-rosu') Bogdan Rosu] from #[a(href='https://www.flaticon.com') flaticon]