P
    | Algunas tiendas (por cuenta propia) locales de renta de bicicleta hacen descuento para los cubanos exclusivamente para este evento. Esta es una relación que ha surgido por la carencia de bicicletas en Cuba. Recientemente el cadenas del gobierno comenzaron a vender algunas bicis de China, pero no han tenido buena aceptación en la comunidad por ser de tan mala calidad y costosas a tal punto que son inviables.
