ul
    li
        a(href='https://www.cubyke.com/') Cubyke
        span Clases de aprender a montar en bicicleta para adultos.
    li
        a(href='https://www.facebook.com/veloencuba/') Velocuba
        span Talleres de aprendizaje para reparar bicicletas.
    li
        a(href='https://www.rutabikes.com/') Rutabikes
        span Tours en bicicleta para cubanos.
    li
        a(href='http://citykleta.com/') Citykleta
        span Vuelta de Noche y otros eventos.
    li
        a(href='https://www.airbnb.com/experiences/40258') Ricobike
        span Recorridos rurales.
    li
        a(href='https://www.facebook.com/jibaromtb/') Jíbaros MTB
        span Copa MTB