ul
    li
        a(href='') Cubike
        span Clases de aprender a montar en bicicleta para adultos.
    li
        a(href='') Velocuba
        span Talleres de aprendizaje para reparar bicicletas.
    li
        a(href='') Rutabikes
        span Tours en bicicleta para cubanos.
    li
        a(href='') Citykleta
        span Vuelta de Noche y otros eventos.
    li
        a(href='') Ricobike
        span Recorridos rurales.
    li
        a(href='') Jíbaros MTB
        span Copa MTB