p.
     Todos podemos promover el evento #[strong #BicicletearLaHabana]. Los volantes, carteles, pegatinas, pulóveres y otros son muy útiles. Descárgate algunos desde el #[a(href='https://facebook.com/groups/bicicleterosblh') grupo Facebook], imprímelos y repártelos.
     Para donar tu diseño propio, por favor envíalo publícalo en el grupo de Facebook Biciclieteros bajo el hashtag #[strong #promocion].
     Usamos hashtags para conectar Bicicletear La Habana con nuestros contenidos sociales en las redes.
ul
    li
        strong #BicicletearLaHabana
    li
        strong #BLH
    li
        strong #Havana
    li
        strong #bicicleta